spring:
  application:
    name: spring-ai-mcp-client
  profiles:
    active: dev
  ai:
    vectorstore:
      redis:
        initialize-schema: true
        index-name: my-vector-index
        prefix: 'embedding:'
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: ${OPENAI_BASE_URL}
      chat:
        options:
          model: ${OPENAI_MODEL}
    model:
      embedding: transformers
    embedding:
      transformer:
        tokenizer:
          uri: ${EMBEDDING_TOKENIZER_URL}
        onnx:
          model-uri: ${EMBEDDING_ONNX_MODEL_URL}
          model-output-name: token_embeddings

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: default
      password: ${REDIS_PASSWORD}

logging:
  level:
    root: info